@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Martian+Mono:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '@fontsource/major-mono-display';
@import '@fontsource/share-tech-mono';
@import '@fontsource/material-icons';





#root {}

body {
  height: 85vh;
}

/*HEADER STYLES*/
.header {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 15vh;
  max-height: 15vh;
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  background-color: rgb(158, 228, 137);
  margin-bottom: 15px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

/*HEADERS ENDS*/


/*HOME STYLES*/
.meetings-container {

  background-color: rgb(224, 223, 223);
  border-radius: 3px;
  padding: 30px;
  margin: 10vh auto;

}

.meetings-section {
  display: flex;
  justify-content: center;
}

.meeting-row {
  display: flex;
  font-family: 'DM Mono', monospace;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-size: 18px;
  border-radius: 10px;
  min-height: 40px;
  margin: 10px;
  transform: scale(0.9);
  transition: 0.3s ease;
}




.meeting-row:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transform: scale(1);
}

.meeting-specs-name {
  background-color: rgb(247, 247, 247);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meeting-specs-button {
  background-color: rgb(236, 243, 137);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.meeting-specs button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  font-size: 20px;
  font-family: 'Material Icons', sans-serif;


}

.meetings-info {
  background-color: rgba(121, 121, 121, 0.418);
  font-family: 'Share Tech Mono', monospace;
  padding: 30px;
  height: 85vh;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.meetings-info-header {
  font-size: 22px;
  font-weight: 600;

}

/*HOME ENDS*/