@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Martian+Mono:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '@fontsource/major-mono-display';
@import '@fontsource/share-tech-mono';
@import '@fontsource/material-icons';
@import '@fontsource-variable/baloo-2';





#root {
  background-color: #3a3a3a;
}



/*HEADER STYLES*/
.header {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  background-color: rgb(158, 228, 137);
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  margin: 15px;
  height: 15vh;
}


/*HEADERS ENDS*/


/*HOME STYLES*/



.meeting-row {
  display: flex;
  font-family: 'Baloo 2 Variable', system-ui;
  font-weight: 600;
   box-shadow: rgba(36, 36, 36, 0.678) 0px 7px 29px 0px;
  font-size:16px;
  transform: scale(0.8);
  margin: 20px;
  transition: 0.3s ease;
}




.meeting-row:hover {
  box-shadow: rgba(43, 43, 44, 0.3) 0px 0px 0px 0px;
}

.meeting-specs-name {
  background-color: rgb(226, 226, 226);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meeting-specs-button {
  background-color: rgb(255, 131, 131);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
  color: black;

}

.meeting-specs-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}




.meetings-info {
  display: flex;
  justify-content: center;
  font-family: 'Baloo 2 Variable', system-ui;
  font-weight: 500;
  margin-top: 15px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-right: 1px solid white;
}



.recent-meetings {
  display: flex;
  font-size: 22px;
  padding: 40px;
  color: white;
}






.meetings-actions {
  background-color: rgba(121, 121, 121, 0.418);
  font-family: 'Share Tech Mono', monospace;
  margin-top: 10vh auto;
  padding: 30px;


}

.meetings-creator {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 10vh auto;
  height: 60vh;
  transform: scale(0.9);
  background-color: #313131d2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/*HOME ENDS*/


/*NewMeeting*/
.meetings-options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdffb;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: #000000;
  font-family: 'Baloo 2 Variable', system-ui;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;



}

.meeting-option {
  background-color: rgba(206, 207, 207, 0.747);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(0.9);

}

.meeting-option:hover {
  background-color: rgba(145, 145, 145, 0.747);
  box-shadow: rgba(43, 43, 44, 0.3) 0px 0px 0px 0px;
  transform: scale(1);

}


.create-meeting-form {
  display: flex;
  justify-content: center;
  padding: 40px;
  height: 100%;
}

.create-meeting-prop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfdffb;
  font-family: 'Baloo 2 Variable', system-ui;
  font-weight: 600;
}

.create-meeting-input {
  display: flex;
  flex-direction: column;
}

/*FIN NewMeeting*/